<footer>
  
  <p>&copy; 2023 Hassan Jafri</p>
  <a href="https://github.com/HassanJafri100874202">Github</a>
  <a href="https://www.linkedin.com/in/hassan-jafri-8a8686225/">Linkedin</a>

</footer>
