<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
 <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <%- include('header') %>
  <h1>    Welcome to my portfolio:</h1>
  <p>     Please enjoy your stay.</p>
  <%- include('footer') %>
</body>
</html>
